@using Shop.Common.Models

@model  UserModel

@{
    ViewBag.Title = "LogIN";
}
<div style="height: 150px">

</div>

<div class="row mt-2">
    <div class="col-md-12 text-center"> <h3>LOG IN</h3></div>
</div>

<div class="row p-5">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="row">
            @using (Html.BeginForm("LogIN", "Home", FormMethod.Post))
            {

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" name="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div class="text-danger">@Html.ValidationMessageFor(m => m.Email)</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" name="Password" class="form-control" id="exampleInputPassword1">
                <div class="text-danger">@Html.ValidationMessageFor(m => m.Password)</div>
            </div>
            <div class="mb-3 ml-4 form-check">
                @Html.CheckBoxFor(u => u.Checked, new { id = "exampleCheck1" , @class = "form-check-input" })
                @Html.LabelFor(u => u.Checked, "Remember" ,new { @class = "form-check-label" } )
             
            </div>
                    <button type="submit" class="btn btn-primary">Log in</button>
            }
            </div>
        <div class="row mt-2">
            <div class="col-md-12 p-0">
                <p>
                    Don't have an account
                    @Html.ActionLink("Register", "Register", "Home")
                </p>
            </div>
        </div>

    </div>
    <div class="col-md-4"></div>
</div>

